.App {
  text-align: center;
}

.App-logo {
  height: 60vmin; /* bigger logo */
  pointer-events: none;
  /* Remove animation */
  /* animation: App-logo-spin infinite 20s linear; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 4vmin); /* bigger text */
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Remove or keep this keyframe, but won't be used now */
/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
